

.grid {
  display: grid;
  grid-template-columns: 150px auto 450px;
  grid-template-rows: repeat(3, 200px);
  grid-gap: 1em;
}


header,
aside,
article,
footer {
  /*background: #eaeaea;*/

  padding: 1em;
}

header, footer {
  grid-column: 1 / 4;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 100%;
  padding: 1em 0;
}

.grid > * {

}


.info{
    align-content: left;
    bottom: 30px;
    position: relative;
    left: 120px;  
    font-size: 2rem;
    font-weight: bold;
    color: #008C9E;
    opacity: 0.5;
    font-family: Poppins, sans-serif;
}

.resi{
  
    position: relative;
    bottom: 120px;
    left: 115px;
    font-size:5rem;
    font-weight: bold;
    font-family: Poppins, sans-serif;
   
}





.menu{
    
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  
}
.areamenu{
    position: absolute;
    right: 0;
    width: 100px;
    top:50px;
}


.numero{
    font-size: 80pt;
    color: #008C9E;
    font-weight: bold;
    position: relative;
    left: 111px;
    font-family: Arial, Helvetica, sans-serif;

}

.textright{
    font-size: 60pt;;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: relative;
    top:140px;
    font-family: helvetica, sans-serif;
    font-weight: bold;
}

.artigo{
    position: relative;
    width: 80%;
    top: 120px;
    left: 100px;

}


.textoartigo{
    font-size: 18pt;
    color: rgba(0, 0, 0, 0.61);
    letter-spacing: 0.5px;
    line-height: 1.5em;
    font-family: 'georgia', serif;
}



.area2{
    margin-top: 10%;
}


.vr{
    font-family: Poppins, sans-serif;
    color: #008C9E;
    font-weight: bold;
    font-size:15pt;
}
a{
    text-decoration: none;
}


.vr:hover{
    border-bottom:5px solid #008C9E;
    transition: border-bottom 0.5s;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgba(0, 48, 63, 0.979) ;
    overflow-x: hidden;
    transition: 0.9s;
    padding-top: 60px;
    text-align: justify;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 65px;
    font-weight: 500;
    color: #8181815d;
    display: block;
    transition:0.5s;
    margin-left: 40%;
    font-family: poppins, sans-serif;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 110px;
    font-size: 120px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}