
.grid {
  display: grid;
  grid-template-columns: 0px auto 850px;
  grid-template-rows: repeat(3, 200px);
  grid-gap: 1em;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:rgba(0, 48, 63, 0.979) ;
    overflow-x: hidden;
    transition: 0.9s;
    padding-top: 60px;
    text-align: justify;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 65px;
    font-weight: 500;
    color: #8181815d;
    display: block;
    transition:0.5s;
    margin-left: 40%;
    font-family: poppins, sans-serif;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 110px;
    font-size: 120px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#mapa{
    box-shadow: 40px 40px;
}
header,
aside,
article,
footer {
  background: #eaeaea;

  padding: 1em;
}

header, footer {
  grid-column: 1 / 4;
}

/* Demo Specific Styles */
body {
  margin: 0 auto;
  max-width: 100%;
  padding: 1em 0;
}

.grid > * {

}


.info{
    align-content: left;
    bottom: 30px;
    position: relative;
    left: 120px;  
    font-size: 2rem;
    font-weight: bold;
    color: #008C9E;
    opacity: 0.5;
    font-family: Poppins, sans-serif;
}

.resi{
  
    position: relative;
    bottom: 120px;
    left: 115px;
    font-size:5rem;
    font-weight: bold;
    font-family: Poppins, sans-serif;
   
}





.menu{
    
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  
}
.areamenu{
    position: absolute;
    right: 0;
    width: 100px;
    top:50px;
}




ul.listaresi {
    
    list-style-type: circle;
    font-family: Poppins, sans-serif;

    font-size:15pt;
    line-height:200%
}

.sidebar-left{
   
    position: relative;
    left: 100px;
    top: 50px;
}



 #mapa {
     position: relative;
        margin-top: 15%;
        left: 47%;
        height: 500px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
        background-color: grey;
       }



li a{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: #333;
    transition: text-shadow .3s;
}

li a:hover{
 font-family: 'Quicksand', sans-serif;
 text-shadow: 0 0 .65px #333, 0 0 .65px #333;

}